@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100%;
}

.section-p1 {
    padding: 40px 80px;
}

/*Header*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding-right: 40px;
    height: 120px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo {
    width: 180px;
    height: 180px;
}

#header .cart-icon {
    width: 20px;
    height: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;   
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #1A1A1A;
}

#navbar li:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

#navbar li a:hover {
    color: #e0462b;
    transition: all 0.3s ease;    
}

#navbar li a:hover,
#navbar li a.active {
    color: #e0462b;
}

#navbar li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #e0462b;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a::after,
#navbar li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #e0462b;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #e0462b;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;

}

/*Header*/

/*Home Page*/

#hero {
    background-image: url('assets/icons/img-nike-snake.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 70% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero>* {
    padding-bottom: 15px;
}

#hero>:last-child {
    padding: 0;
}

#hero h4 {
    font-size: 25px;
    font-weight: 500;
}

#hero h2 {
    font-size: 45px;
    padding-bottom: 0;
}

#hero h1 {
    font-size: 50px;
    color: #e0462b;
}

#hero p {
    font-size: 18px;
    font-weight: 300;
    color: #636363;
}

#hero button {
    font-size: 18px;
    font-weight: 400;
    background-color: #e0462b;
    border: 0;
    border-radius: 9999px;
    height: 100%;
    max-height: 40px;
    width: 100%;
    max-width: 200px;
    color: #F7F7F7;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#hero button:hover {
    background-color: #b33923;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

#feature .fe-card {
    width: fit-content;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

#feature .fe-card h2 {
    color: #e0462b;
    line-height: 1;
    font-size: 25px;
    font-weight: 800;
}

#feature .fe-card h3 { 
    line-height: 1;
    padding-top: 8px;
    font-weight: 500;
}

#feature .fe-card:hover { 
    box-shadow: 10px 10px 54px rgba(28, 28, 32, 0.1);
}

.fe-card img {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    padding-bottom: 15px;
}

#product1 {
    text-align: center;
}

.star img {
    width: 100%;
    max-width: 15px;
    height: 100%;
    max-height: 15px;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
}

.product .cart {
    width: 100%;
    max-width: 22px;
    height: 100%;
    max-height: 22px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 20px 5px;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.4s ease;
    position: relative;
}
#product1 .product:hover { 
    box-shadow: 10px 10px 54px rgba(28, 28, 32, 0.08);
}

.product .img-object {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 350px;
    padding-bottom: 15px;
}

#product1 .product .description {
    text-align: start;
    padding: 10px 15px;
}

#product1 .product .description span {
    color: #636363;
    font-size: 17px;
}

#product1 .product .description h3 { 
    padding-top: 7px;
    font-size: 19px;
    padding-bottom: 5px;
}

#product1 .product .description h4 { 
    padding-top: 7px;
    font-size: 19px;
    font-weight: 700;
    padding-top: 10px;
}




/*Home Page*/




