@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100%;
}

.section-p1 {
    padding: 40px 80px;
}

.botao {
    font-size: 18px;
    font-weight: 400;
    background-color: #e0462b;
    border: 0;
    border-radius: 9999px;
    height: 100%;
    max-height: 45px;
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    color: #F7F7F7;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.botao:hover {
    background-color: #9e2a16;
    transition: 0.4s ease;
}

/*Header*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding-right: 40px;
    height: 120px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo {
    width: 180px;
    height: 180px;
}

#header .cart-icon {
    width: 20px;
    height: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;   
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #1A1A1A;
}

#navbar li:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

#navbar li a:hover {
    color: #e0462b;
    transition: all 0.3s ease;    
}

#navbar li a:hover,
#navbar li a.active {
    color: #e0462b;
}

#navbar li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #e0462b;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a::after,
#navbar li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #e0462b;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #e0462b;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;

}

/*Header*/

/*Home Page*/

#hero {
    background-image: url('assets/icons/img-nike-snake.png');
    height: 90vh;
    width: 100%;
    min-width: fit-content;
    background-size: cover;
    background-position: 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero>* {
    padding-bottom: 15px;
}

#hero>:last-child {
    padding: 0;
}

#hero h4 {
    font-size: 25px;
    font-weight: 500;
}

#hero h2 {
    font-size: 45px;
    padding-bottom: 0;
}

#hero h1 {
    font-size: 50px;
    color: #e0462b;
}

#hero p {
    font-size: 18px;
    font-weight: 300;
    color: #636363;
}

#search-box {
    margin-top: 30px;
    width: 100%;
    max-width: 250px;
    height: 35px;
    border-radius: 9999px;
    border: solid 1px black;
    font-size: 18px;
 
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

#feature .fe-card {
    width: fit-content;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

#feature .fe-card h2 {
    color: #e0462b;
    line-height: 1;
    font-size: 25px;
    font-weight: 800;
}

#feature .fe-card h3 { 
    line-height: 1;
    padding-top: 8px;
    font-weight: 500;
}

#feature .fe-card:hover { 
    box-shadow: 10px 10px 54px rgba(28, 28, 32, 0.1);
}

.fe-card img {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    padding-bottom: 15px;
}

#product1 {
    text-align: center;
}

.star img {
    width: 100%;
    max-width: 15px;
    height: 100%;
    max-height: 15px;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-bottom: 100px;
}

.product .cart {
    width: 100%;
    max-width: 22px;
    height: 100%;
    max-height: 22px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 20px 5px;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.4s ease;
    position: relative;
}
#product1 .product:hover { 
    box-shadow: 10px 10px 54px rgba(28, 28, 32, 0.08);
}

#product1 h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

#product1 p {
    font-size: 18px;
}

.product .img-object {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 350px;
    padding-bottom: 15px;
}

#product1 .product .description {
    text-align: start;
    padding: 10px 15px;
}

#product1 .product .description span {
    color: #636363;
    font-size: 17px;
}

#product1 .product .description h3 { 
    padding-top: 7px;
    font-size: 19px;
    padding-bottom: 5px;
}

#product1 .product .description h4 { 
    padding-top: 7px;
    font-size: 19px;
    font-weight: 700;
    padding-top: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/icons/nike-air-max-98-la-mezcla-nyc.jpg);
    margin: 0;
    background-size: contain;
    height: 35vh;
    width: 100%;
    min-width: 800px;
    font-weight: 900; 
}

#banner #content {
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
    margin: 0 ;
}

#banner #content h2 {
    font-size: 150px;
    font-style: italic;
    text-shadow: 15px 15px 32px black;
    color: white;
    width: 800px;
}

#banner button {
    padding: 15px;
    background-color: black;
    color: white;
    font: 800;
    border: 0;
    border-radius: 9999px;
    width: 200px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

#banner button:hover {
    background-color: white;
    color: black;
} 

#sm-banner {
    width: 100%;
}

#sm-banner .content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 100px 140px 100px;
}

#sm-banner #more-about {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 30px;
}

.banner-box {
    width: 550px;
    height: 800px;
    padding: 20px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s ease;
    position: relative;
}

.banner-box img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 800px;
}

.banner-box:hover {
    box-shadow: 10px 10px 54px rgba(28, 28, 32, 0.1);
    transform: translateY(-5px);
} 

.banner-box h2 {
    position: absolute;
    width: 200px;
    bottom: 15px;
    left: 15px;
    text-align: start;
    margin: 0 0 30px 30px;
    padding: 20px;
    background-color: #e0462b;
}

#footer {
    padding: 70px 0;
    background-color: #e0462b;
}

.ft-container {
    background-color: #e0462b;
    margin: auto;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col ul {
    list-style: none;
}

.footer-col .fontawesome-icon {
    width: 30px;
    height: 30px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col #ul-redes li {
    padding-right: 10px;
}


.footer-col h4 {
    font-size: 22px;
    padding-bottom: 20px;
}

.footer-col a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    transition: all 0.4s ease;

}

.footer-col a:hover {
    padding: 0 10px;
    font-weight: 800;
}



/*Home Page*/

/*Blog Page*/


.start-banner img {
    width: 100%;
    max-width: 500px;
}

.preview {
    height: 40vh;
    width: 100%;
    min-width: 500px;
    padding: 100px 500px;
    text-align: center;
}

.preview h4 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 100;
}

#blog-top .start-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/icons/NIKE90.jpg);
    background-position: 0;
    margin: 0;
    background-size: contain;
    height: 35vh;
    width: 100%;
    min-width: 800px;
    font-weight: 900; 
    font-size: 120px;
    color: white;
    font-variant: small-caps;
}

#shop-top .start-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/icons/NIKE87.jpg);
    background-position: 0;
    margin: 0;
    background-size: contain;
    height: 35vh;
    width: 100%;
    min-width: 800px;
    font-weight: 900; 
    font-size: 120px;
    color: white;
    font-variant: small-caps;
}

.start-banner h2 {
    font-weight: 900; 
    font-size: 60px;
    color: white;
    font-variant: small-caps;
    background-color: black;
    border-radius: 9999px;
    padding: 28px;
}

#content {
    padding: 100px 80px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

#content .brand-img {
    padding: 0 100px;
}

#brand-text {
    padding: 0 100px;

}

#brand-text h2 {
    color: black;
    text-shadow: none;
    padding-bottom: 80px;
    font-size: 40px;
    font-size: 45px;
}

#brand-text h4 {
    font-size: 30px;
    text-align: start;
    line-height: 45px;
    font-weight: 100;
}

/*Blog Page*/

<<<<<<< HEAD
=======
/*About Page*/

#history .history-content {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

#history .history-content h4 {
    padding: 0 50px 0 0;
    font-size: 20px;
}

/**/

>>>>>>> af7e6c3f78144642798dac87cec9b8955f0b3747
/*Single Product*/
#prodetails {
    display: flex;    
    margin-top: 20px;
<<<<<<< HEAD
    margin-bottom: 0px;
=======
>>>>>>> af7e6c3f78144642798dac87cec9b8955f0b3747
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

<<<<<<< HEAD
#prodetails .single-pro-details h6 {
    font-size: 20px;
    font-weight: 200;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
    font-size: 40px;
}

#prodetails .single-pro-details h2 {
    font-size: 25px;
    padding-bottom: 15px;
}

#prodetails #sel-input-row {
    display: flex;
    flex-direction: row;
}

#prodetails .single-pro-details select {
    padding: 5px 10px;
    margin: 0 18px 15px 0;
    font-size: 18px;
}

#prodetails .single-pro-details button {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
=======
#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
>>>>>>> af7e6c3f78144642798dac87cec9b8955f0b3747
}

#prodetails .single-pro-details input { 
    width: 50px;
<<<<<<< HEAD
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    margin: 0 10px 10px 0;
}

#prodetails .single-pro-details span {
    font-size: 18px;
    text-align: center;
    line-height: 25px;

}

/*About Page*/

#history h2 {
    text-align: center;
}

#history .history-content {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    height: 50vh;
    align-items: center;
}

#history h2 {
    padding-top: 80px;
    font-size: 40px;
    background-color: #1A1A1A;
    color: white;
    width: 100%;
    height: 200px;
}

#history .history-content h4 {
    padding: 0 50px 0 0;
    font-size: 23px;
    line-height: 40px;
    font-weight: 400;
}


/**/

=======
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

>>>>>>> af7e6c3f78144642798dac87cec9b8955f0b3747


/*Single Product*/

<<<<<<< HEAD
/*Contact Page*/

#contact-details {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#contact-details #details {
    width: 40%;
    padding-left: 170px;
}

#contact-details #details h2 {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 15px;
}

#contact-details #details h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 10px;
}

#contact-details #details li {
    list-style: none;
    font-size: 19px;
    line-height: 35px;
    font-weight: 100;
}

#contact-details #google-map {
    padding: 100px 170px 100px 0;
}

/*Contact Page*/

=======
>>>>>>> af7e6c3f78144642798dac87cec9b8955f0b3747
/*Media Queries*/

@media(max-width: 799px) {
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-card {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #banner #content h2{
        font-size: 90px;
    }

    #banner button{
        height: 40px;
        width: 120px;  
    }
  
}    

/*Media Queries*/




